  <header>
    <div class="logo">
      <a href="/index.html">
        <h2>Legion</h1>
        <img src="images/logo/logo-white-sm.png" alt="">
      </a>
    </div>
    <div class="title">
      <h1>Estetica Automotriz de Alta Calidad</h1>
      <h2>El Servicio de Alta Calidad que siempre haz merecido</h2>
    </div>
  </header>