<nav>
  <a href="/index.html">Inicio</a>
  <a href="/nosotros.html">Nosotros</a>
  <a href="/contacto.html">Contacto</a>
<!--   <a href="/servicios.html" class="hidden">Servicios</a>
  <a href="/galeria.html" class="hidden">Galeria</a>
  <a href="/nuestrosautos.html" class="hidden">Nuestros Autos</a> -->
</nav>