<!doctype html>
<html ng-app="contactoLegionApp">
<head>
  <meta charset="UTF-8">
  <title>Legion Estetica Automotriz ~ Contacto</title>
  <meta name="description" content="Envianos un mensaje o llamanos, nos encargaremos de que recibas el mejor trato que tu y tu auto merecen.
  Suscribete y recibe promociones y notificaciones en tu correo.
  email: ventas@legionautomotriz.com">
  <link rel="stylesheet" href="styles/css/reset.css">
  <link rel="stylesheet" href="resources/vegas/dist/jquery.vegas.min.css">
  <link rel="stylesheet" href="resources/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Della+Respira|Cinzel|Cinzel+Decorative|Qwigley' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Jockey+One|Economica|Shadows+Into+Light|Cinzel' rel='stylesheet' type='text/css'>

  <script src="scripts/analytics.js"></script>
  <script src="resources/jquery/jquery.min.js"></script>
  <script src="resources/angular/angular.min.js"></script>
  <script src="resources/vegas/dist/jquery.vegas.min.js"></script>

</head>
<body class="contacto">

  <div ng-include="'partials/header.html'"></div>
  <div ng-include="'partials/nav.html'"></div>

  <div class="content">
  <section class="contact" ng-controller="contactController">
    <div class="content">
      <h3>Contactanos</h3>
      <p>Suscribete y recibe ofertas y promociones exclusivas.</p>
      <div class="alert alert-success fade in">
        <button  href="#" type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Enviado!</strong>, pronto te contactaremos.
      </div>
      <div class="alert alert-danger fade in">
        <button  href="#" type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong>, por favor intenta de nuevo.
      </div>

      <form id="contactForm" novalidate name="contactForm" ng-submit="sendEmail(emailForm)">
        <input type="text" class="form-control" placeholder="Nombre"
          ng-pattern="/^[\sa-zA-Z]+$/"
          ng-model="emailForm.name" required/>

        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="email" class="form-control" placeholder="Email"
          ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"
          ng-model="emailForm.email" required/>
        </div>

        <div class="input-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-earphone"></span>
          </span>
          <input type="phone" class="form-control" placeholder="Teléfono"
          ng-pattern="/^(?=(.*\d){8,})[\d\(\)\s+-]{8,}$/"
          ng-model="emailForm.phone" />
        </div>

        <textarea class="form-control" placeholder="Mensaje" ng-model="emailForm.message" required></textarea>

        <button type="button" class="btn btn-default btn-lg" ng-click="cleanForm()">
          Limpiar
        </button>
        <button class="btn btn-default btn-lg" type="submit"
        ng-disabled="contactForm.$invalid">
          Enviar
        </button>
      </form>
    </div>
  </section>

<script src="resources/jquery-backstretch/jquery.backstretch.js"></script>
  </div>

  <div ng-include="'partials/footer.html'"></div>

  <script src="resources/bootstrap/dist/js/bootstrap.js"></script>
  <script src="resources/angular-route/angular-route.min.js"></script>
  <script src="resources/angular-animate/angular-animate.min.js"></script>
  <script src="resources/jscroll/jquery.jscroll.js"></script>

  <script src="scripts/contactApp.js"></script>
</body>
</html>
