
// Colors

@baseColorTransparency: rgba(0,0,0,.7);
@blue0: #4D1379;
@blue1: #9026CF;
@blue2: #FFD9FC;

@Admired: #7C061C;
@SleepingOceanFloor: #0F032B;
@RockBlue: #61339F;
@LavvySavvy: #C4A6EC;
@Ebony: #292420;
@ViolentBlue: #4D1379;
@MyYellow: #62D700;

// Fonts

@Bold: 'Jockey One', sans-serif;
@Cursive: 'Shadows Into Light', cursive;
@Helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@Della: 'Della Respira', serif;
@Qwigley: 'Qwigley', cursive;

html, body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: @Helvetica;
}

body {
  background-repeat: repeat;
  background-image: url('../../images/bg/black_lozenge.png');
}

a {
  color: #fff;
}

.content {
  color: #fff;
}

nav {
  width: 80%;
  display: inline-block;
  height: 50px;
  padding: 15px;
  background-color: rgba(2, 2, 2, 1);

  a {
    border: 1px solid #fff;
    font-size: 1.2em;
    background-color: @SleepingOceanFloor;
    padding: 10px;
    border-radius: 4px;
    text-transform: uppercase;

    &:first-child {
      border-radius: 6px 0;
    }

    &:last-child {
      border-radius: 0 6px;
    }

    &:hover {
      background-color: #111;
      color: #62D700;
      border-color: #fff;
      text-decoration: none;
    }
  }
}

footer {
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: @Bold;
  text-transform: uppercase;
  margin: 10px 0;
  color: #fff;
}

h1 { font-size: 3em; }
h2 { font-size: 2.4em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

header {
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  border-bottom: 1px solid #b9b9b9;

  .title {
    display: inline-block;
    width: 70%;

    h1, h2 {
      color: #fff;
      margin: 0;
    }

    h1 {
      text-shadow: 0 0 15px #000;
      margin: 7px 30px;
      display: block;
      font-family: @Bold;
      font-weight: normal;
    }

    h2 {
      font-family: @Cursive;
      font-weight: normal;
      margin-top: 20px;
    }

    a:hover {
      text-decoration: none;
    }
  }

  .logo {
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: .8em;
    width: 150px;

    a {
      text-decoration: none;
    }

    h2 {
      margin: 0;
    }

    img {
      width: 100%;
    }
  }
}

.logo {
  h2 {
    color: #fff;
    font-family: @Della;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
  }
}

body > .content {
  font-size: 1em;
  padding-bottom: 100px;
}

div.alert {
  font-size: 1.6em;

  strong {
    margin-right: 5px;
  }
}

section {
  margin-bottom: 100px;
  .content {
    text-align: center;
    width: 60%;
    margin: 20px auto;
    padding: 30px 0 60px;
  }
}

// ---------------------------------------------------------------------------
// Home
// ---------------------------------------------------------------------------
.home {
  .content {
    width: 100%;
    .servicios {
      .box {
        margin-top: 50px;
        box-shadow: 0 0 30px #000;
        height: 250px;
        border-top: 1px solid #555;
        border-bottom: 1px solid #555;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #000;
        padding: 0;
        left: 12.5%;

        transition: all 500ms 200ms;
        -webkit-transition: all 500ms 200ms; /* For Safari 3.1 to 6.0 */

        div.description {
          bottom: -70px;
          opacity: 0;
          text-align: left;
          position: absolute;
          min-width: 80%;
          height: 80%;
          background-color: #111;
          color: #62D700;
          left: 10%;

          transition: opacity 200ms, all 400ms;
          -webkit-transition: opacity 200ms, all 400ms; /* For Safari 3.1 to 6.0 */

          p, h4, ul {
            font-size: 2em;
            width: 80%;
            margin: 10px auto;
          }

          h4 {
            font-family: @Helvetica;
            margin-top: 25px;
          }

          ul {
            list-style: circle;
          }
        }

        // state
        &.active {
          width: 100%;
          left: 0;
          height: 400px;
          overflow: scroll;
          transition: width height 500ms;
          -webkit-transition: width height 500ms; /* For Safari 3.1 to 6.0 */

          span {
            color: #62D700;
            background-color: #111;
          }

          div.description {
            transition-delay: 700ms;
            -webkit-transition-delay: 700ms;
            height: 300px;
            opacity: 1;
            bottom: 0;
            display: block;
          }

        }

        a {
          width: 100%;
          height: 100%;
          display: block;

          span {
            font-size: 2em;
            background-color: #000;
            width: 100%;
            display: block;
            text-transform: uppercase;
            transition: all 150ms;
            -webkit-transition: all 150ms; /* For Safari 3.1 to 6.0 */
          }

          // actions
          &:hover {
            text-decoration: none;
            font-size: 1.1em;

            span {
              color: #62D700;
            }
          }
        }

        &.laminado {
          background-image: url('../../images/crashed_r8.jpg');
          background-position: 0 50px;

          background-position: -46px 36px;
          background-size: 173%;

        }
        &.pintura {
          background-image: url('../../images/blue-mustang2.jpg');
          background-position: 0 -2px;
        }
        &.detallado {
          background-image: url('../../images/bmw.jpg');
          background-position: 0 -5px;
        }

        // responsive for box
        @media(min-width:1200px){
          height: 200px;

          &.laminado {
            background-size: 100%;
            background-position: 0 50px;
          }
          &.pintura {
            background-position: 0 -9px;
          }
        }

        @media(min-width:768px)and(max-width:979px){
          height: 200px;
          left: 0;

          div.description {
            width: 100%;
            left: 0;
          }

          &.laminado {
            background-size: 100%;
            background-position: 0 15px;
          }
          &.pintura {
            background-position: 0 -20px;
          }
          &.detallado {
            background-position: 0 -100px;
          }
        }

        @media(max-width:767px){
          height: 130px;
          background-size: 100%;
          height: 250px;
          margin-left: 0;
          left: 0;

          div.description {
            top: 50px;
            left: 0;
          }

          &.active {
            bottom: inherit;
            div.description {
              top: 50px;
            }

            &.detallado {
              height: 300px
            }
          }

          &.laminado {
            background-position: 0 22px;
            div.description {
              height: 400px;
            }

          }
          &.pintura {
            background-position: 0 0;
            max-height: 300px;
            div.description {
              height: 400px;
            }
          }
          &.detallado {
            background-position: 0 -40px;
            div.description {
              height: 150px;
            }
          }
        }
      }
    }
  }
}

// ---------------------------------------------------------------------------
// Contact
// ---------------------------------------------------------------------------
.contact {
  .content {
    background-color: rgba(red(@Ebony), green(@Ebony), blue(@Ebony), 0.7);
    width: 60%;
    margin: 20px auto;
    padding: 40px;

    p {
      font-size: 1.6em;
      text-transform: uppercase;
    }

    div.price {
      background-color: @Ebony;
      margin: 30px 0;
      border: 1px solid #b9b9b9;
      padding: 20px;

      ul {
        text-align: center;
        margin: 0 auto;
        display: inline-block;
        list-style: disc;
        font-size: 1.6em;

        li {
          text-transform: capitalize;
          width: auto;
          display: block;

          &:before {
            content: "- "
          }
        }
      }
    }

    form input.ng-invalid.ng-dirty {
      background-color: #FA787E;
      color: #fff;
    }

    form input.ng-valid.ng-dirty {
      background-color: #78FA89;
    }

    .alert {
      font-size: 1.5em;
      display: none;
    }

    .form-control, .input-group {
      margin: 0 auto 10px auto;
      width: 60%;
    }

    .input-group {
      width: 30%;
      display: inline-table;
    }

    .input-group .form-control {
      margin: 0 auto;
      width: 100%;
    }

    button {
      font-size: 1.4em;
      text-transform: uppercase;
    }

  }
}

// ---------------------------------------------------------------------------
// Nosotros
// ---------------------------------------------------------------------------
.nosotros {
  background-image: url('../../images/moulin_@2X.png');
  background-repeat: repeat;
  .content {
    section {
      width: 100%;
      height: 650px;
      text-align: justify;
      margin: 0px;
      display: block;
      position: relative;
      background-size: 100%;
      clear: both;
      transition: height 200ms linear 100ms;

      background-position: 35% 18%;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size: 1800px;
      background-color: #000;

      @media(max-width:767px){
        height: 400px;
      }

      &.mision {
        background-image: url(../../images/camaro.jpg);

        @media(min-width:1200px){
          background-position: 32% 11%;
          background-size: 1800px;
        }

        @media(min-width:768px)and(max-width:979px){
          background-position: 1% 11%;
        }

        @media(max-width:767px){
          background-size: 1300px;
          background-position:90% 10%;
        }
      }

      &.vision {
        background-image: url(../../images/mustang.jpg);
        background-position: 5% 10%;
        background-size: 1800px;

        @media(max-width:767px){
          background-size: 1300px;
          background-position:83% 10%;
        }
      }

      &.filosofia {
        background-image: url(../../images/AudiTT.jpg);
        height: 560px;

        @media(max-width:767px){
          background-position:70% 100%;
          background-size: 1000px;
        }

      }

      article {
        clear: both;
        color: #FCC2AE;
        position: absolute;
        display: block;
        border-width: 1px;
        border-style: solid;
        width: 50%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        overflow: hidden;
        transition: height 200ms linear 100ms;
        border-color: #000;

        h2, p {
          margin: 20px auto;
          width: 80%;
        }

        p, dl {
          font-size: 1.8em;
          margin: 20px auto;
          width: 80%;
        }

        dt {
          margin-top: 10px;
          color: #fff;
        }

        b {
          color: #fff;
        }

        &.right {
          right: 0;
          border-right-width: 0;
        }

        &.left {
          left: 0;
          border-left-width: 0;
        }

        // Article
        /* Portrait tablet to landscape and desktop */
        @media(min-width:768px)and(max-width:979px){
          width: 60%;
        }

        /* Landscape phone to portrait tablet mobile*/
        @media(max-width:767px){
          width: 80%;
        }
      }
    }
  }
}




// MEDIA QUERIES

/* Large desktop */
@media(min-width:1200px){
}

/* Portrait tablet to landscape and desktop */
@media(min-width:768px)and(max-width:979px){
}

/* Landscape phone to portrait tablet */
@media(max-width:767px){
  body, html {
    // font-size: 7px;
  }

  header {
    .logo {
      width: 100px;
      font-size: .8em;
      top: 10px;
    }
    .title {
      h1 {
        font-size: 1.8em;
        margin-left: 50px;
      }

      h2 {
        display: none;
      }
    }
  }

  .home {
    .content {
      .proximamente {
        h3 {
          font-size: 8em;
        }

        a {
        }
        .logo {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .contact .content {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    h3 {
      font-size: 2.4em;
    }
    form {
      input, textarea, button, a {
        font-size: 1.3em;
      }
    }
  }
}